{% include "header.html" %}
<div class="page-top">
    <h1>About e-mine</h1>
    <h3>We are Creative Tech Enthusiast</h3>
</div>

<div class="page-top container">
    <div class="row">
        <div class="col-12 col-lg-6 col-sm-12">
            <p>IGREEF is an intelligent financial system, that enables you to work and earn hugely online. It has the potential to transform your financial status without you putting in much efforts. It's the new legitimate way to make money online from our current economic evolution.
iGreef is an innovative online ecosystem designed to empower individuals by providing a platform that serves as a virtual gateway which allow them to maximize their earnings and propels their financial growth.💚</p>
        </div>
        <div class="col-12 col-lg-6 col-sm-12">
            <img class="poster" src="{{ url_for("static", filename='images/poster.PNG') }}">
        </div>
    </div>

</div>
<div class="text-center">
    <a href="{{ url_for("how_it_works") }}" class="message-btn">How it works</a>
</div>

<div class="page-top">
    <h1>Our future growth</h1>
    <h3>We want to lead in innovation & Technology and change people financial life from poor to average and average to rich</h3>
</div>


<div class="page-top">
    <p>
        At iGREEF, we believe in the power of connections. Whether you dream of a comfortable retirement, an exotic vacation or owning that dream car, our platform is designed to bring your aspirations to life. We empower you to unlock a world of possibilities
We take a small toolkit here and ride it well so that it is fit for your use. One who performs well and looks even better.
We believe in creating opportunities for everyone, regardless of their affiliation status. Our platform is designed to achieve financial freedom through the power of Non-affiliate. You no longer need to be tied to refer before you reap the benefits of iGREEF; we've opened the door to endless possibilities.
In the end, I would say keep visiting our website and enjoy the quality content.
    </p>
</div>

{% include "footer.html" %}