<div id="footer">
    <img src="{{ url_for('static', filename='images/logo.png') }}" width="130" height="42">
    <p class="centered_p">e-Mine is an online innovative designed to empower
            its users and individuals with various ways of maximizing their earnings online and propel
            their financial growth</p>
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-6 col-sm-3">
                <h5 class="text-center">My Account</h5>
                <ul class="text-centers">
                <li><a class="nav-link" href="#">Sign in</a></li>
                <li><a class="nav-link" href="#">Sign up</a></li>
                <li><a class="nav-link" href="#">Coupon validator</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-3">
                <h5>Legal info</h5>
                <ul>
                    <li><a class="nav-link" href="#">Terms and condition</a></li>
                <li><a class="nav-link" href="#">Privacy policy</a></li>
                <li><a class="nav-link" href="#">Contact us</a> </li>
                </ul>

            </div>
            <div class="col-6 col-sm-3">
                <h5>Company</h5>
                <ul>
                    <li><a class="nav-link" href="#">About us</a></li>
                <li><a class="nav-link" href="#">How it works</a></li>
                <li><a class="nav-link" href="#">Faq</a></li>
                </ul>

            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="{{ url_for("static", filename="js/home.js") }}"></script>

</body>
</html>