{% include "header.html" %}

<div class="page-top">
    <h1>How does it work ?</h1>
    <p>EARNING STRUCTURE <br>
Registration fee N1000 (monthly subscription)<br>
When you register you get a welcome bonus of N200<br>
When you log in daily you earn N50<br>
When you engage on e-Mine Task you earn N50<br>
When you refer someone you earn N500 (OPTIONAL)<br>

You also earn passively through other features like e-Games, VTU system, e-Stores e.t.c<br>


MODE OF WITHDRAWAL ON e-Mine<br>
BOTH AFFILIATE & NON AFFILIATES GET PAID DAILY WITH A MINIMUM OF 10,000 WITHDRAWAL 3-5PM</p>
</div>

{% include 'footer.html' %}